In [1]:
%matplotlib inline
import csv
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine # database connection
import datetime as dt
from IPython.display import display

import plotly.plotly as py # interactive graphing
from plotly.graph_objs import Bar, Scatter, Marker, Layout
import plotly.tools as tls
from colour import Color
import plotly.graph_objs as go

In [ ]:
disk_engine = create_engine('sqlite:///tuti.db') # Initializes database with filename tuti.db in current directory#Initialize the list of files of flights from each year

In [ ]:
allFiles=["1987.csv","1988.csv","1989.csv","1990.csv","1991.csv","1992.csv","1993.csv","1994.csv","1995.csv","1996.csv","1997.csv","1998.csv","1999.csv","2000.csv","2001.csv","2002.csv","2003.csv","2004.csv","2005.csv","2006.csv","2007.csv","2008.csv"]
frame_list=[]

In [2]:
%%time
# Each time we want to work with the database we don't need to charge all the files again, instead we connect to it.
import sqlite3
disk_engine=sqlite3.connect('tuti.db')

Wall time: 0 ns

In [3]:
# We select the first 3 rows of the database
df = pd.read_sql_query('SELECT * FROM data LIMIT 3', disk_engine)
df.head()

   index  Year  Month  DayofMonth  CRSDepTime UniqueCarrier Origin Dest
0      1  1987     10          14         730            PS    SAN  SFO
1      2  1987     10          15         730            PS    SAN  SFO
2      3  1987     10          17         730            PS    SAN  SFO

In [4]:
# We set our credentials for being able to plot interactive graphics
tls.set_credentials_file(username='andreaque', api_key='ri2bu5e4cp')

In [87]:
%%time
#1 - Number of cancellations per Company since 1987 until 2008
df = pd.read_sql_query('SELECT UniqueCarrier, SUM(Cancelled) AS cancellations '
                       'FROM data '
                       'GROUP BY UniqueCarrier '
                       'ORDER BY -cancellations ', disk_engine)

Wall time: 4min 56s

In [88]:
#1 - Number of cancellations per Company since 1987 until 2008
py.iplot({'data':[Bar(x=df.UniqueCarrier, y=df.cancellations)],
          'layout':Layout(barmode='stack', xaxis= {'tickangle': 40}, title='Number of cancellations per Company (1987-2008)')} ,
         filename='Number of cancellations per Company')

In [ ]:
%%time
#10 - Number of cancellations per Company in 11 September of 2001
df = pd.read_sql_query('SELECT UniqueCarrier, SUM(Cancelled) AS cancellations '
                       'FROM data '
                       'WHERE Year = "2001" AND Month="9" AND DayofMonth="11" '
                       'GROUP BY UniqueCarrier '
                       'ORDER BY -cancellations ', disk_engine)

In [ ]:
#10 - Number of cancellations per Company in 11 September of 2001
py.iplot({'data':[Bar(x=df.UniqueCarrier, y=df.cancellations)],
          'layout':Layout(barmode='stack', xaxis= {'tickangle': 40}, title='Number of cancellations per Company on the 11-S')} ,
         filename='Number of cancellations per Company on the 11-S')

In [25]:
%%time
#2 - Number of cancellations per Company in Septembre of 2001
df = pd.read_sql_query('SELECT UniqueCarrier, SUM(Cancelled) AS cancellations '
                       'FROM data '
                       'WHERE Year = "2001" AND Month="9" '
                       'GROUP BY UniqueCarrier '
                       'ORDER BY -cancellations ', disk_engine)

Wall time: 1min 14s

In [9]:
#2 - Number of cancellations per Company in Septembre of 2001

UnitedAirlines = go.Bar(
    x=df.UniqueCarrier[0],
    y=df.cancellations[0],
    name='UnitedAirlines',
    marker=dict(
        color='rgba(142, 68, 173,1)',
    )
)
USAirways = go.Bar(
    x=df.UniqueCarrier[1],
    y=df.cancellations[1],
    marker=dict(
        color='rgba(125, 206, 160,1)',
    )
)
AmericanAirlines = go.Bar(
    x=df.UniqueCarrier[2],
    y=df.cancellations[2],
    marker=dict(
        color='rgba(230, 126, 34,1)',
    )
)
DeltaAirlines = go.Bar(
    x=df.UniqueCarrier[3],
    y=df.cancellations[3],
    marker=dict(
        color='rgba(241, 196, 15,1)',
    )
)
AmericanEagleAirlines = go.Bar(
    x=df.UniqueCarrier[4],
    y=df.cancellations[4],
    marker=dict(
        color='rgba(93, 173, 226,1)',
    )
)
SouthWestAirlines = go.Bar(
    x=df.UniqueCarrier[5],
    y=df.cancellations[5],
    marker=dict(
        color='rgba(123, 36, 28,1)',
    )
)
NorthWestAirlines = go.Bar(
    x=df.UniqueCarrier[6],
    y=df.cancellations[6],
    marker=dict(
        color='rgba(72, 201, 176,1)',
    )
)
ContinentalAirlines = go.Bar(
    x=df.UniqueCarrier[7],
    y=df.cancellations[7],
    marker=dict(
        color='rgba(40, 55, 71,1)',
    )
)
AlaskaAirlines = go.Bar(
    x=df.UniqueCarrier[8],
    y=df.cancellations[8],
    marker=dict(
        color='rgba(84, 153, 199,1)',
    )
)
AmericaWestAirlines = go.Bar(
    x=df.UniqueCarrier[9],
    y=df.cancellations[9],
    marker=dict(
        color='rgba(203, 67, 53,1)',
    )
)
TransWorldAirways = go.Bar(
    x=df.UniqueCarrier[10],
    y=df.cancellations[10],
    marker=dict(
        color='rgba(247, 220, 111,1)',
    )
)
AlohaAirlines = go.Bar(
    x=df.UniqueCarrier[11],
    y=df.cancellations[11],
    marker=dict(
        color='rgba(243, 156, 18,1)',
    )
)


   

traces=[UnitedAirlines,USAirways,AmericanAirlines,DeltaAirlines,AmericanEagleAirlines,SouthWestAirlines,NorthWestAirlines,
        ContinentalAirlines,AlaskaAirlines,AmericaWestAirlines,TransWorldAirways,AlohaAirlines]

layout = go.Layout(
    title='Cancellations per Company in Sept 2001',
    barmode='stack',
    paper_bgcolor='rgba(245, 246, 249, 1)',
    plot_bgcolor='rgba(245, 246, 249, 1)',
    showlegend=False
)


fig = go.Figure(data=traces, layout=layout)
py.iplot(fig, filename='Cancellations per Company')

In [6]:
%%time
# 3- Number of flights and cancellations for departures in each State in EEUU
df = pd.read_sql_query('SELECT Origin, COUNT(*) as `num_flights`, SUM(Cancelled) AS cancellations '
                       'FROM data '
                       'GROUP BY Origin '
                       'ORDER BY -num_flights ', disk_engine)

Wall time: 5min 36s

In [7]:
# 3- Number of flights and cancellations for departures in each State in EEUU
sta = pd.read_csv('states.csv')
air = pd.read_csv('airports.csv')

for col in sta.columns:
    sta[col] = sta[col].astype(str)
for colu in air.columns:
    air[colu] = air[colu].astype(str)
for colum in df.columns:
    df[colum] = df[colum].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = sta['state'] + '<br>' +\
    ' Cancellations '+df['cancellations']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = sta['code'],
        z = df['num_flights'].astype(int),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Number of flights")
        ) ]

layout = dict(
        title = 'Number of flights taking off from each state',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

In [3]:
%%time
# 4- Number of flights and cancellations for landings in each State in EEUU
df = pd.read_sql_query('SELECT Dest, COUNT(*) as `num_flights`, SUM(Cancelled) AS cancellations '
                       'FROM data '
                       'GROUP BY Dest '
                       'ORDER BY -num_flights ', disk_engine)

Wall time: 6min 22s

In [28]:
# 4- Number of flights and cancellations for landings in each State in EEUU

air = pd.read_csv('airports.csv')
sta = pd.read_csv('states.csv')

for col in air.columns:
    air[col] = air[col].astype(str)
for colu in sta.columns:
    sta[colu] = sta[colu].astype(str)
for colum in df.columns:
    df[colum] = df[colum].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = sta['state'] + '<br>' +\
    ' Cancellations '+df['cancellations']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = sta['code'],
        z = df['num_flights'].astype(int),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Number of flights")
        ) ]

layout = dict(
        title = 'Number of flights landing in each state',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

In [82]:
%%time
# 8 and 9 - Amount of flights that departure at a concrete time
df = pd.read_sql_query('SELECT CRSDepTime, COUNT(*) as `num_flights`, SUM(Cancelled) AS cancellations '
                       'FROM data '
                       'GROUP BY CRSDepTime '
                       'ORDER BY CRSDepTime ', disk_engine)

Wall time: 4min 59s

In [83]:
# 8 - Amount of flights that departure at a concrete time
py.iplot({'data':[Scatter(x=df.CRSDepTime, y=df.num_flights)],
          'layout':Layout(title='Number of flights per Departure Time')} ,
         filename='Number of flights & cancellations per Departure Time')

In [84]:
# 9 - Amount of flights that departure at a concrete time
py.iplot({'data':[Scatter(x=df.CRSDepTime, y=df.cancellations)],
          'layout':Layout(title='Number of cancellations per Departure Time')} ,
         filename='Number of cancellations per Departure Time')

In [85]:
%%time
# 11 and 12 - Number of flights and cancellations per Month (1987-2008)
df = pd.read_sql_query('SELECT Month, COUNT(*) as `num_flights`, SUM(Cancelled) AS cancellations '
                       'FROM data '
                       'GROUP BY Month '
                       'ORDER BY Month ', disk_engine)

Wall time: 4min 35s

In [78]:
# 11 and 12 - Number of flights and cancellations per Month (1987-2008)
df

    Month  num_flights  cancellations
0       1     10272489         322248
1       2      9431225         248669
2       3     10448039         212262
3       4     10081982         125717
4       5     10330467         126818
5       6     10226946         165995
6       7     10571942         166524
7       8     10646835         166794
8       9      9975954         265061
9      10     10758658         134388
10     11     10218176         125665
11     12     10559041         242874

In [81]:
# 11 - Number of flights per Month (1987-2008)
trace0=go.Scatter(x=df.Month,y=df.num_flights)

traces = [trace0]

py.iplot({'data':traces,
          'layout':Layout( title='Number of flights per Month')} ,
         filename='Number of flights per Month')

In [86]:
# 12 - Number of cancellations per Month (1987-2008)
trace0=go.Scatter(x=df.Month,y=df.cancellations)

traces = [trace0]

py.iplot({'data':traces,
          'layout':Layout( title='Number of cancellations per Month')} ,
         filename='Number of cancellations per Month')

In [4]:
%%time
#13 - Number of cancellations per Month in 2001
df = pd.read_sql_query('SELECT Month, SUM(Cancelled) AS cancellations '
                       'FROM data '
                       'WHERE Year="2001" '
                       'GROUP BY Month '
                       'ORDER BY Month ', disk_engine)

Wall time: 1min 45s

In [5]:
# 13 - Number of cancellations per Month in 2001
trace0=go.Scatter(x=df.Month,y=df.cancellations)

traces = [trace0]

py.iplot({'data':traces,
          'layout':Layout( title='Number of cancellations per Month in 2001')} ,
         filename='Number of cancellations per Month in 2001')

In [ ]:
%%time
df = pd.read_sql_query('SELECT Month, COUNT(*) as `num_flights`, SUM(Cancelled) AS cancellations '
                       'FROM data '
                       'GROUP BY Month '
                       'ORDER BY Month ', disk_engine)

In [ ]:
air = pd.read_csv('airports.csv')
sta = pd.read_csv('states.csv')
codigos=[]


i=0
[codigos.append(air['state'][i]) and i+=1 if ori in air['iata'] else codigos.append(' ') and i+=1 for ori in df.Origin]

   
print codigos

In [ ]:
sta = pd.read_csv('states.csv')
states=[]

i=0
[states.append(sta['state'][i]) and i+=1 if code in sta['code'] else states.append(' ') and i+=1 for code in codigos]

In [ ]:
air = pd.read_csv('airports.csv')
codigos=[]

for ori in df['Origin']:
    if ori=='None':
        codigos.append(' ')
    for i in range(len(air['iata'])):
        if ori==air['iata'][i]:
            codigos.append(air['state'][i])

In [ ]:
sta = pd.read_csv('states.csv')
states=[]

for code in codigos:
    if code==' ':
        states.append(' ')
    for i in range(len(sta['code'])) :
        if code==sta['code'][i]:
            states.append(sta['state'][i])
print states[:10]

In [ ]:
codigos.pop(336)

print codigos

for i in range(len(codigos)):
    print i, codigos[i], states[i]
    
info = pd.DataFrame(
    {'codes': codigos,
     'states': states
    })